@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #2b6bab, #00c897);
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 25%;
  background: #fff;
  border-radius: 12px;
  padding: 25px 50px 10px 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #00c897;
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
  bottom: 20px;
}

.amount {
  position: relative;
  bottom: 20px;
}

input {
  width: 100%;
  height: 50px;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* When we click on the <input> this will show: */
input:focus {
  border-color: #00c897;
  outline: none;
}

p {
  font-size: large;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #00c897;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #02b88a;
}

.flag1,
.flag2 {
  width: 30px;
  height: auto;
  position: relative;
  display: flex;
  left: 20px;
}

select {
  padding: 10px 75% 10px 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  background: #f9f9f9;
  font-size: 15px;
}

.selectbox {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  margin-bottom: 15px;
}



select {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.icon {
  font-size: 22px;
  color: #005ac8;
  text-align: center;
  margin: 10px 0;
}
